Use valid example domains and addresses

Netmagis should comply with:
- RFC 2606 for example domains
- RFC 5737 for IPv4 example addresses
- RFC 3849 for IPv6 example addresses
